* * * * * root /usr/local/bin/php -q -f /var/www/html/mpmanager/artisan schedule:run  >> /var/log/cron.log 2>&1
# Don’t remove the empty line at the end of this file. It is required to run the cron job